@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Playfair Display", serif;
  /* font-family: "Fredoka", serif; */
}



/* @layer components {
  .px-section {
    @apply px-32;
  }
} */

@layer components {
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  .marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee-scroll 20s linear infinite;
  }

  .slide-item {
    padding-right: 2rem;
  }
}
@layer utilities {
  @keyframes marquee-scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-fade-in {
    animation: fade-in-animation 4s ease-in-out infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .animate-typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 3px solid white;
    animation: typing 6s steps(40, end) infinite, blink 0.7s infinite;
  }
}
